* {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.row{
  margin: 1em;
}

.bordered {
  border: 1px solid silver;
  border-radius: 0.5em;
}

.col {
  padding: 1em;
  display: inline-block;
  min-width: 5em;
  text-align: center;
}

.col.md {
  min-width: 12em;
}

.col span{
  display: block;
  color: #888;
}

.col .bold-number{
  font-size: 2em;
  font-weight: bold;
}

.col .medium-bold-number{
  font-size: 1.3em;
  font-weight: bold;
}
